<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

     <footer class="ftco-footer ftco-bg-dark ftco-section"  th:fragment="footer(title)">
      <div class="container px-md-5">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">추천.</h2>
              <ul class="list-unstyled categories">
                <li><a href="javascript::" onclick="window.open('http://www.hungryboarder.com/index.php')">헝그리보더</a></li>
                <li><a href="javascript::" onclick="window.open('https://cafe.naver.com/highski')">곰돌이동호회</a></li>
                <li><a href="javascript::" onclick="window.open('https://cafe.naver.com/highski')">미친보더앤스키</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">운영.</h2>
              <ul class="list-unstyled categories">
              	<li><a href="#">이용안내</a></li>
                <li><a href="#">개인정보취급방침</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">문의.</h2>
            	<div class="block-23 mb-3">
	              <ul>
	               <!-- <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li> -->
	                <li><a href="javascript::" onclick="window.open('https://open.kakao.com/o/soJdQIYd')"><span class="icon icon-phone"></span><span class="text">https://open.kakao.com/o/soJdQIYd</span></a></li>
	                <li><a><span class="icon icon-envelope"></span><span class="text">kimfk567@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
			<p>Since 2021 / 2022 , Developer 김찬수</p>
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
  
  </html>