<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="includes/header :: head('소셜')">
   
  </head>
 <script>
    $(document).ready(function(){
  	    //   data : {},
  	    
    
    	socialContent();
    });
    
    function socialContent(page){
    	console.log("들어옴");
    	
 	   $.ajax({
	        url : '/social/social-content',
	        type : 'get',
	        data : {"page": page , "resort":"지산"},
	        success : function(result){
	        	console.log("아직스 들어옴");
	            let a ='';
	          	var socialList = result.socialList;
	            if(result<1){
	            	a +='<h2>데이터가 없습니다</h2> ';}
	            
	            $.each(socialList, function(key, value){ 
	            	
	         			                
	            	a += '<div class="col-md-3 card mr-5 ml-2 mt-5 border-success">';
    				a += '<div class="text text-2 pt-2 mt-3">';
    				a += '<span class="category  d-block "><a href="#">'+value.categori+' </a><p style="font-size:15px;">'+value.resort+' / '+value.offerdate+'</p></span>';
    				a += '<hr/>';
    				a += '<h3 class="mb-4" style="font-size:20px"><a href="#">'+value.title+' </a></h3>';
    				a += '<p class="mb-4">'+value.content+'</p>';
	                a += '<div class="author mb-4 d-flex align-items-center">';
	                a += '<a href="#" class="img" style="background-image: url(/elen/images/person_2.jpg);"></a>';
	                a += '<div class="ml-3 info" >';
	                a += '<span>Written by</span>';
	                a += '<h3><a href="#">'+value.id+'</a> <p style="font-size:13px;">'+value.regdate+'</p></h3>';
	                a += '</div></div> <div class="meta-wrap align-items-center">';
	                a += '<div class="half order-md-last">';
	                a += '<p class="meta">';
	                a +=  '<span><i class="icon-heart"></i>'+value.bookmarkcnt+'</span>';
	                a +=  '<span><i class="icon-eye"></i>'+value.viewcnt+'</span>';
	                a +=  '<span><i class="icon-comment"></i>0</span>';
	                a += '</p></div>';
	                a += '<div class="half">';
	                a += '<p><a href="#" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>';
	                a += '</div></div></div></div>';
	         
	               
	            });
	            
	            $("#content").html(a);
	        }
	    });
    }
    
  </script>   
  <body>

	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
			<aside th:replace="includes/sidebar :: sidebar('social')">
		</aside> <!-- END COLORLIB-ASIDE -->
		<div id="colorlib-main">
			
			<section class="ftco-section">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-lg-12">
	    				    <form>
	    		<div class="col-md-10  card row">
	    		
	    		

	    		<div class="col-md-2 dropdown mt-2 mb-2">
	<select class="custom-select">
  <option selected>전체</option>
  <option value="1">출격부</option>
  <option value="2">카풀제공</option>
  <option value="3">카풀요청</option>
  <option value="4">동호회/시즌방/단톡</option>
	</select>

	
	
		</div>
		
	    			
	    		
	    		
	    			</div>
	    			</form>
	    			<div class="col-md-12">
	    	
	    				<div class="row blog-entry ftco-animate"  id="content" >
	    				
	    						
	    			</div>
			    		</div>
			    	</div>
			    	
	          
	          
	    		</div>
	    	</div>
	    </section>
			
  <footer th:replace="includes/footer :: footer('메인')">
     
    </footer>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	
  <!-- loader -->
	<div th:include="includes/loader"></div>
    
  </body>
  
</html>