<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="includes/header :: head('소셜')">
   
  </head>
<style>
img {
    max-width: 100%;
    max-height: 100%;
}
 

</style>
 <script>
	let resort = "";
	let categori = "";
	let searchType = "";
	let keyword = "";
	let page = 1;
	let offerdate = null;
	let offerdateEnd = null;
	let completeCheck = false;
	
	
    $(document).ready(function(){
  	    //   data : {},
  	    let result = document.getElementById("result").value;
    	socialContent();
  	    if(result != "" ){
	        toastr.options.preventDuplicates = true;
	    	toastr.success(result);
  	    }
    });
    
    function socialContent(){
    	
 	   $.ajax({
	        url : '/social/social-content',
	        type : 'get',
	        data : {"page":page, "resort": resort , "categori":categori , "searchType": searchType, "keyword":keyword, "offerdate":offerdate ,"offerdateEnd":offerdateEnd , "completeCheck":completeCheck},
	        success : function(result){
	        	console.log("아직스 들어옴");
	            let a ='';
	            //모달
	            let modal = "";
	            let modalNum = 1;
	            let pageBtn = '';
	          	var socialList = result.socialList;
	          	var pageMaker = result.pageMaker;
	            if(result.socialList<1){
	            	a +='<h2>데이터가 없습니다</h2> ';}
	            
	            $.each(socialList, function(key, value){ 
	            	let complete = value.complete ; 
	            	let contact = "******";
		
	            
	         		if(complete == 'N'){	                
	            	a += '<div class="col-md-3 card mr-5 ml-1 mt-5 border-success"  data-toggle="modal" data-target="#ModalNum'+modalNum+'"> ';
	            	contact = value.contact;
	         		}else{
		            a += '<div class="col-md-3 card mr-5 ml-1 mt-5 border-primary" data-toggle="modal" data-target="#ModalNum'+modalNum+'">';	
	         		}
    				a += '<div class="text text-2 pt-2 mt-3">';
    				a += '<span class="category  d-block "><a href="#">'+value.categori+' ||'+value.sno+'  </a><p style="font-size:15px;color:black;">'+value.resort+'<br>';
    				if(value.offerdate == null){
    				a += 'close '+value.enddate+'</p></span>';
    				}else{
        			a += 'offer '+value.offerdate+'</p></span>';			
    				}
    				a += '<hr/>';
    				a += '<h3 class="mb-4" style="font-size:20px" ><a href="#" data-toggle="modal" data-target="#ModalNum'+modalNum+'">'+value.title+' </a></h3>';
    				a += '<div class=" text-truncate d-inline-block" style="height:200px; max-width:150px;" ><p class="mb-4">'+value.content+'</p></div>';
	                a += '<div class="author mb-4 d-flex align-items-center">';
	                a += '<a href="#"  class="img" style="background-image: url(/elen/images/person_2.jpg);"></a>';
	                a += '<div class="ml-3 info" >';
	                a += '<span>Written by</span>';
	                a += '<h3><a href="#">'+value.id+'</a> <p style="font-size:13px;">'+value.regdate+'</p></h3>';
	                a += '</div></div> <div class="meta-wrap align-items-center">';
	                a += '<div class="half order-md-last">';
	                a += '<p class="meta">'
	                a +=  '<span><i class="icon-heart"></i>'+value.bookmarkcnt+'</span>';
	                a +=  '<span><i class="icon-eye"></i>'+value.viewcnt+'</span>';
	                a +=  '<span><i class="icon-comment"></i>0</span>';
	                a += '</p></div>';
	             
	                a += '</div></div></div>';
	         
	                
	                modal += '<div class="modal fade" id="ModalNum'+modalNum+'"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">' 
	     	           + '<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">'
	     	           + '  <div class="modal-content">'
	     	              
	     	           +  '   <div class="modal-body"> '
	     	           +   '   <button type="button" class="close" data-dismiss="modal" aria-label="Close">'
	     	           +   '      <span aria-hidden="true">&times;</span>'
	     	           +    '   </button>'
	     	           +     ' 	<div class="col-md-12">'
	     	          +	    '						<div class="blog-entry ">'
	     	          +	    '							<div class="text pt-2 mt-3">'
	     	          	+	'			          	<span class="category mb-1 d-block"><a href="#" style="font-size:15px;">'+value.categori+'</a> <p style="font-size:18px;">'+value.resort+' / '+value.offerdate+'</p></span>'
	     	          +		'		              <h3 class="mb-4"><a href="#">'+value.title+' / '+value.sno+'</a></h3>'
	     	          	+	'		              <p class="mb-4" style="color:black;" >'+value.content+'</p>'
	     	          
	     	          	+	'		              <hr> <p class="mb-4" style="color:black; font-size:18px;">연락처  <br/>'+contact+' </p>'	     	         
  		
	     	          	
	     	          	+	'		              <div class="author mb-4 d-flex align-items-center" style="text-align:right;">'
	     	          	+	'		            		<a href="#" class="img" style="background-image: url(/elen/images/person_1.jpg);"></a>'
	     	          	+	'		            		<div class="ml-3 info">'
	     	          	+	'		            			<span>Written by</span>'
	     	          	+	'		            			<h3 ><a href="#">'+value.id+'</a>, <span style="font-size:12px;">'+value.regdate+'</span></h3>'
	     	          	+	'		            		</div>'
	     	          	+	'		            	</div>'
	     	          	+	'		              <div class="meta-wrap d-md-flex align-items-center">'
	     	          	+	'		              	<div class="half ">'
	     	          	+	'			              	<p class="meta">'
	     	          	+	'			              		<span><i class="icon-heart"></i>'+value.bookmarkcnt+'</span>'
	     	          		+'			              		<span><i class="icon-eye"></i>'+value.viewcnt+'</span>'
	     	          				              		
	     	          	+		'		              	</p>'
	     	          	+		'	              	</div></div></div></div></div>'
	     	          			

	     	            +  '</div>  <div class="modal-footer">'
	     	            +  '    <button type="button" class="btn btn-danger float-left" onclick="socialDelete('+value.sno+')">삭제</button>'
	     	            +  '    <button type="button" class="btn btn-success float-left" onclick="socialUpdate('+value.sno+')">수정</button>'
	     	            +  '    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'
	     	            +   ' </div></div></div></div>';
	     	              modalNum++ ;
	               
	            });
	            
	            $("#content").html(a);
	        	$("#modal").html(modal);
	            //페이징 for문, 단! startPage는 0이 아닌 1에서 시작하므로 endPage에 +1을 해준다.
	            
	      

	            
	            if(pageMaker.prev){
	            pageBtn += '<li class="mr-1"><a href="javascript:;" onclick="socialMovePrev(-1);">&lt;</a></li>'
	            }        
	            for(var i = pageMaker.startPage; i < pageMaker.endPage+1 ; i++){

	 
	    	     if(page == i){
	    	    	 pageBtn +=	 '<li class="active mr-1"><a  href="javascript:;" onclick="socialMovePage('+i+');">'+i+'</a></li>'; 
	    	     }else{
	    	    	 pageBtn +=	 '<li class="mr-1"><a href="javascript:;" onclick="socialMovePage('+i+');">'+i+'</a></li>';
	    	     }       
	            }
	            if(pageMaker.next){	    
	            pageBtn += '<li><a  href="javascript:;" onclick="socialMovePrev(+1);">&gt;</a></li>'
	        	}
	           
         
	            
	            $("#pagination").html(pageBtn);
	            
    
	            
	            
	            
	        }
	        /* 로딩바
	        , beforeSend: function() {
	        	
	             var spinner = "";
	             spinner += '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>';
	             $("#spinner").html(spinner);
	       }
	       , complete: function() {
	                     $("#spinner").hide();
	       }  */



	    });
    }
    
    
   

    $(function() {
  
      
        $("#Date").datepicker();
    });
    
   function socialDelete(sno){

	   if(confirm("삭제하시겠습니까?") == false){
		   return false;
	   }
		   
	   

	   $.ajax({
	        url : '/social/social-view',
	        type : 'delete',   
	       	data : {"sno":sno},
	        success : function(result){
	        	
	        toastr.options.preventDuplicates = true;
	    	toastr.success(result);
	    	location.reload();

	        },
	        error : function(result){
		        toastr.options.preventDuplicates = true;
		    	toastr.success("글삭제 실패");
	        }
	        
	   })
	   
   }
   
   function socialUpdate(sno){

	   if(confirm("수정하겠습니까?") == true){
	   location.href = '/social/social-update?sno='+sno
	   }
   }
    
   function socialInput(){
		resort = document.getElementById("resort").options[document.getElementById("resort").selectedIndex].value;
		categori = document.getElementById("categori").options[document.getElementById("categori").selectedIndex].value;
		searchType = document.getElementById("searchType").options[document.getElementById("searchType").selectedIndex].value;
		keyword = document.getElementById("keyword").value;
		offerdate = document.getElementById("offerdate").value;
		offerdateEnd = document.getElementById("offerdateEnd").value;
		if(categori == '동호회' || categori == '강습제공' || categori == '강습요청' || categori == '쉐어모집' || categori == '기타'){
			$('#offerdate').val("");
			$('#offerdate').hide();
			$('#offerdateEnd').val("");
			$('#offerdateEnd').hide();
			$('#daten').hide();
			offerdate = null;
			offerdateEnd = null;
			console.log(offerdate);
		}else{
			$('#offerdate').show();
			$('#offerdateEnd').show();
			$('#daten').show();

		}
		page = 1;
		 socialContent();
   }
    
   function socialMovePage(pageNum){
	   page = pageNum;
	   socialContent();
	   $('html').scrollTop(0);
   }
   
   function socialMovePrev(pageNum){
	   page = page + pageNum;
	   socialContent();
   }
   
   function socialComplete(tf){
	   completeCheck = tf;
	   socialContent();
   }
  </script>   
  <body>
<input type="hidden" id="result" th:value="${result}">
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
			<aside th:replace="includes/sidebar :: sidebar('social')">
		</aside> <!-- END COLORLIB-ASIDE -->
		<div id="colorlib-main">
			
			<section class="ftco-section">
	    	<div class="container">
	    		<div class="row">
	    	
	    			<div class="col-lg-12">
	    				    <form>
	    		<div class="col-md-11  card row ">
	    		
	    		
	<ul class="nav mt-2 mb-2 ">
	<li class="nav-item mr-3  mb-2">	
	<select class="form-control" id="categori" onchange="socialInput();">
  <option selected value="">카테고리All</option>
  <option value="출격부">출격부</option>
  <option value="카풀제공">카풀제공</option>
  <option value="카풀요청">카풀요청</option>
  <option value="동호회">동호회/시즌방/단톡</option>
  <option value="숙소제공">숙소제공</option>
  <option value="숙소요청">숙소요청</option>
  <option value="강습제공">강습제공</option>
  <option value="강습요청">강습요청</option>
  <option value="쉐어모집">쉐어모집</option>
  <option value="기타">기타</option>
	</select></li>
	
	<li class="nav-item mr-3  mb-2">
	<select class="form-control" id="resort" onchange="socialInput();">
  <option selected value="">스키장All</option>
  <option value="휘닉스">휘닉스</option>
  <option value="용평">용평</option>
  <option value="비발디">비발디</option>
  <option value="지산">지산</option>
  <option value="곤지암">곤지암</option>
  <option value="웰리힐리">웰리힐리</option>
  <option value="하이원">하이원</option>
  <option value="베어스">베어스</option>
  <option value="엘리시안">엘리시안</option>
  <option value="오크밸리">오크밸리</option>
  <option value="무주">무주</option>
  <option value="알펜시아">알펜시아</option>
  <option value="에덴밸리">에덴밸리</option>
  <option value="오투">오투</option>
	</select>
	</li>
	<li class="nav-item mb-2 mr-3"><div class="input-group" >
            <input class="form-control" type="date" id="offerdate" onchange="socialInput();" > <h2 id="daten">&nbsp;~&nbsp;</h2>
           <input class="form-control" type="date" id="offerdateEnd" onchange="socialInput();" ></div>
	</li>
	<li class="nav-item mb-2 mt-2 mr-3">

	<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-info active">
    <input type="radio"  onchange="socialComplete(false)" checked> 기본
  </label>
  <label class="btn btn-outline-info">
    <input type="radio" onchange="socialComplete(true);"> 마감글포함
  </label>
</div>
	</li>
	
	<li class="nav-item mb-2 mr-3">

<div class="input-group">
  <select class="form-select" id="searchType" aria-label="Example select with button addon" >
    <option selected value="">검색타입</option>
    <option value="t">제목</option>
    <option value="tc">제목/내용</option>
    <option value="id">아이디</option>
  </select>
	<input type="text" class="form-control" id="keyword" onkeyup="socialInput();" placeholder="타입 지정 후 검색어 입력">
</div>
	</li>
	

	</ul>

	    			
	    		
	    		
	    			</div>
	    			</form>
	    		
	    			<div class="col-md-12" >
	    				
	    				<div class="row blog-entry ftco-animate"  id="content" >
	    				
	    						
	    			</div>
	    			
	    		
	    		<div class="row mt-5">
			          <div class="col">
			            <div class="block-27">
							<ul  id="pagination"> </ul>
			            </div>
			          </div>
			        </div>
			        <div class="mt-2">
			        <button class="btn btn-outline-danger" onclick="location.href='/social/social-create'">글작성 </button>
			        </div>
	    	
			    		</div>

			    	</div>
		
	    		</div>
	    	</div>
	    </section>
				    <!--  -->	
				


<!-- Modal -->
<div id="modal">
 
</div>
				
	          <!--  -->
  <footer th:replace="includes/footer :: footer('메인')">
     
    </footer>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	
  <!-- loader -->
	<div th:include="includes/loader"></div>
    
  </body>
  
</html>